[submodule "vendor/plugins/restful-authentication"]
	path = vendor/plugins/restful-authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/role_requirement"]
	path = vendor/plugins/role_requirement
	url = git://github.com/timcharper/role_requirement.git
[submodule "vendor/plugins/geokit-rails"]
	path = vendor/plugins/geokit-rails
	url = git://github.com/andre/geokit-rails.git
[submodule "vendor/plugins/map_layers"]
	path = vendor/plugins/map_layers
	url = git://github.com/knox/map_layers.git
[submodule "vendor/plugins/strip_attributes"]
	path = vendor/plugins/strip_attributes
	url = git://github.com/rmm5t/strip_attributes.git
[submodule "vendor/plugins/sort_helper"]
	path = vendor/plugins/sort_helper
	url = git://github.com/pengwynn/ujs_sort_helper.git
