<h1>People</h1>
<table>
  <thead>
    <tr>
      <th>
        Login
      </th>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Registration Date
      </th>
      <th>
        Subnets
      </th>
      <th>
        Nodes
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'user', :collection => @users %>
  </tbody>
</table>
<div id="toolbar">
  <% if !logged_in? %>
  <%= link_to 'Sign Up', signup_path %>
  <% end %>
</div>
