<h2>Editing Subnet</h2>

<%= render :partial => "form" %> 

<div id="toolbar">
  <%= link_to 'Show', @subnet %>&nbsp;| <%= link_to 'Destroy', @subnet, :confirm => 'Are you sure?', :method => :delete %>
</div>  