<h1>Subnets</h1>
<div id="table">
  <%= render :partial => 'table' %>
</div>
<div id="toolbar">
  <%= link_to 'Add Subnet', new_subnet_path %>
  <div id="pagination"><%= render :partial => 'pagination' %></div>
</div>
