/* default ffsomething css. Please adjust this file */

body {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	font: .80em/1.05em 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
        color: #333; /* dark grey */
	text-align: left;
}
body.embbody {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	font: .80em/1.05em 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	color:  #333; /* dark grey */
	text-align: left;
}

.bottom {
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #DBDBDB;
	padding: 0px 4px 0px 10px;
	margin: 0px 70px 0px 70px;
	text-align: left;
}
div.box {
	padding: 3px 0px 3px 10px;
	border: 1px solid #000000;
	background-color: #F0F0F0;
	color: #333333;
	margin: 20px 2% 0px 4%;
	text-align: left;
}

div.boxdown {
	position: relative;
        display: inline;
        border: 1px solid red;
        overflow: visible;
}

#topbar {
	position: absolute;
        top: 0px;
	padding: 4px 0px 4px 10px;
	margin-right: 60%;
	background-color: #F9F9F9; 
	border-bottom: 1px dotted #A0A0A0; 
	border-right: 1px dotted #A0A0A0;
	color: #777;
}
#topbar a {
	color: #2153B0;
}
#loginbox {
	position: absolute;
        top: 0;
	background-color: #F9F9F9; 
	border-bottom: 1px dotted #A0A0A0; 
	border-left: 1px dotted #A0A0A0;
	padding: 4px 0px 4px 10px; 
	color: #777;
        right: 10px;
        z-index:1; 
}
#loginbox a {
	color: #2153B0;
}

a {
	color: #2153B0;
	text-decoration: none;
	padding-right: 3px;
}
a:hover {
	color: #173A7B;
	text-decoration: underline;
}
a:active {
	color: #666666;
	text-decoration: none;
}

a:visited {
	color: #666666;
}

p a:visited, #content a:visited {color: #FD9A26;} /* orange */

h1.pagetitle {
}
h1 {
/*	margin: 5px 5px 5px 5px;*/
	font-weight: bold;
	padding-left: 10px;
	font-size: 1.8em;
        color: #1860AC;
	border-bottom: 1px dotted #333333;  
        line-height: 1.8em;
        padding-bottom: 0.1em;
}


h2 {
	margin: 5px 0px 5px 0px;
	font-weight: bold;
	padding-left: 10px;
	font-size: 1.4em;
	border-bottom: 1px dotted #333333;  
        line-height: 1.5em;
        padding-bottom: 0.2em;
}
h3{
	margin: 5px 0px 5px 0px;
	font-weight: bold;
	padding-left: 10px;
	font-size: 0.95em;
	border-bottom: 1px dotted #cccccc;  
}
P {
	margin: 0px 0px 10px 0px;
	padding-left : 15px;
	padding-right : 25px;
<<<<<<< .mine
	line-height: 1.2em;
=======
	line-height: 0.8em;
>>>>>>> .r324
}

hr {
        border: 0px solid #000000;
	border-bottom: 1px solid #A0A0A0;
}


#menubar {
	position: relative;
        top: 3px;
        height: 30px;
	padding: 0 0 0 0; 
        width: 100%;
}

div.counter {
	padding: 0px 0px 0px 0px;
	margin: 0px 3px 0px 0px;
	text-align: right;
        display: block;
        overflow: visible;
        float: left;
        width: 3em;
}

div.uptime_info {
	margin: 3px 3px 3px 3px;	
}
div.toolbox {
	margin: 10px 10px 10px 10px;	
}

input, textarea, select, checkbox, button {
	padding: 0px 0px 0px 2px;
	border: 1px solid #A0A0A0;
	background-color: #F9F9F9; 
	color: #000000;
	margin: 0px 3px 0px 0px;
        vertical-align: middle;
}

.radio {
        border: none;
}


div.infoblock {
	padding: 1em 0px 0px 0px;
	text-align: left;
        display: block;
}

div.inforow {
        display: block;
	padding: 2px 0px 0px 0px;
	border-bottom: 1px solid #BBBBBB;
}

/* used in node listenings */
div.ip {
	text-align: left;
        display: inline;
        width: 10em;
        padding-bottom: 2px;
        float:left; width:9em; padding-right:0.5em; text-align:left; color:#333;
}
div.rowdesc {
        display: inline;
	font-weight:bold;
        float:left; width:9em; padding-right:0.5em; text-align:left; color:#333;
}
/* column  */
div.infocol {
/*
	#padding: 0px 0px 0px 0px;
	#background-color: #F0F0F0;
	#color: #333333;
	#margin: 0px 3px 0px 0px;
	#text-align: left;
        #
	#display: box;
*/
	display: inline;
	padding-left: 0.1em;
        padding-right: 0.5em;
        padding-bottom: 0.1em;
        width: 9em;
}
div.infocolname {
        //display: table-column;
        /*float: none;*/
        width: 14em;
	font-weight:bold
}
div.infocol_last {
	border: 1px solid #000000;
        float: left;
        width: 10em;
}

/* wiki stuff */
input.wikifield { 
	width: 50%;
}

label.wikilabel {
 	width: 100px;
}
div.wikilabel {
 	width: 5em;
    float: left;
    text-align: left;
    padding-right: 1em;
}


textarea.wikifield {
	width: 95%;
        }

form {
        float: none;
        display: inline;
        }

#embedder {
	width: 100%;
}

/* IE VML namespace, used by google maps */        
/*v\:* {
  behavior:url(#default#VML);
}
*/
#content {
	min-width: 1px;
	background-color: #FFFFFF;
        border: 1px solid #EEE;
	border-bottom: 1px dotted #A0A0A0;
	border-right: 1px dotted #A0A0A0;
	padding: 10px 10px 20px 10px;
	position: relative;
        margin: 0;
        margin-left: 11em;
        top: 0px;
        width: auto;

/*        width: 80%;



        display: block;
        float: left;

        right: 10px;

        */
}

#contentemb {
	background-color: #FFFFFF;
        position: relative;
        right: auto;
        left: auto;
        display: block;
        float: left;
        border: 1px solid #F0F0F0;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	padding: 10px 10px 20px 10px;
	/*min-width: 1px;
        max-width: 1000%;
        border: 1px solid #F0F0F0;
	border-bottom: 1px solid #000000; 
	border-right: 1px solid #000000;
	padding: 10px 10px 20px 10px;
        overflow: visible;
        widht: auto;*/
	/*position: relative;*/
        /*margin: 0;
        overflow: visible;
        top: 0px;
        width: auto;
        */
}


#poweredby {
	min-width: 1px;
	padding: 10px 0px 10px 10px;
        margin: 0;
        margin-top: 1em;
        margin-right: 1em;
        font-size: small;
        float: right;
        position: relative;
        display: box;
        color: #aaa;
        /*bottom: 0px;
        right: 10px;
        left: 10em;
        width: auto;
        */
        /*
        float: left;
        
        right: 10px;
        
        */
}
#poweredby a, #poweredby a:hover {
        color: #ccc;

}


#centreposition {
	clear: both;
       width: 99%;
       /* position: absolute;*/
       position:relative;
        margin-top: 1em;
}


div.table {
	display: table;
        border-collapse: collapse;

}

div.submenu {
	position: absolute;
        left: 0px;
        top: 0px;
	width: 10em;
        /*text-align: left;*/
        /*float: left;*/
        /*display: inline;*/
}

div.submenu hr {
        border: 0px solid #000000;
	border-bottom: 1px dotted #A0A0A0;
}

div.submenublock {
	padding: 10px 0px 10px 10px;
	background-color: #F9F9F9; 
	border-bottom: 1px dotted #A0A0A0; 
	border-right: 1px dotted #A0A0A0;
        
}
div.submenu_row {
	padding: 0 0 3px 0;
	border-bottom: 1px dotted #A0A0A0; 
}


table {
        width:100%;
        border:1px solid #BBBBBB;
        cursor:default;
}

* html div.tableContainer {	/* IE only hack */
        width:95%;
        border:1px solid #ccc;
        height: 285px;
        overflow-x:hidden;
        overflow-y: auto;
}

table td,
table th{
        border-right:1px solid #999;
        padding:2px;
        font-weight:normal;
}

table thead td, table thead th {
        background:#2153B0;
        color: #FFFFFF;
}
table thead th a, table thead th a:hover,table thead th a:active,table thead th a:visited {
       color: #FFFFFF;
}

* html div.tableContainer table thead tr td,
* html div.tableContainer table thead tr th{
        /* IE Only hacks */
        position:relative;
        top:expression(dojo.html.getFirstAncestorByTag(this,'table').parentNode.scrollTop-2);
}

html>body tbody.scrollContent {
        overflow-x:hidden;
        overflow-y: auto;
}

tbody.scrollContent td, tbody.scrollContent tr td {
        background-color: #FFFFFF;
        padding: 2px;
}

tbody.scrollContent tr.alternateRow td {
        background-color: #F0F0F0;
        padding: 2px;
}

tbody.scrollContent tr.selected td {
	background-color: #a4bbe5;
        padding: 2px;
}
tbody.scrollContent tr:hover td {
	background: #dce9ff;
        padding: 2px;
}
tbody.scrollContent tr.selected:hover td {
        background: #a4bbe5;
        padding: 2px;
}



div.link_etx {
	position: absolute;
        right: 0px;
	display: inline;
        clear: none;
        padding-right: 5px;
}
.link_good {
	color: green;
}
.link_medium {
	color: orange;
}
.link_bad {
	color: red;
}

div.arrow {
   float: left;
   color: #888888;
   width: 1em;
   padding-right:5px;
}

img.statistic {
    border: 1px solid black;
}

/* wiki styles */

div.wikiemb {
	border-left: 1px dashed #68a4b8 ;
}

div.wikiemb h1, div.wikiemb h2, div.wikiemb h3, div.wikiemb h4 {
	border: none;
	padding: 0;
}

.status-unknown {
  color: #444;
}
.status-problems {
  background: #EE0404;
  color: #FFFFFF;
}
.status-works {
  color: #049904;
  font-weight: bold;
}
.status-test {
  color: #999504;
  font-weight: bold;
}

.status-free {
}

.small {
  font-size: small;
	padding: 0;
}

.submenu_row.xsmall, .xsmall {
  font-size: x-small;
  padding: 0 0 0 0;
  border: none;
  margin: 0;

}

div.preview {
	background: #EEEEEE;
	border: 1px dashed black;
}

div.nodetable {
        display: table;
        border-collapse: collapse;
}

div.node {
        display: table-row;
	border-bottom: 1px solid #BBBBBB;
}
.vLargeTextField {
	width: 70%;
        }

.form-row { overflow:hidden; padding:8px 12px;}
.submit-row { padding:5px 7px; text-align:right; background: #dce9ff; border:1px solid #8ca4d1; margin:5px 0; padding-right: 3em; }
.submit-row input { margin:0 0 0 5px;}
.submit-row p { margin-top:0.3em; }
label { float:left; width:9.5em; padding-right:0.5em; text-align:right;margin-right: 1em; margin-bottom: 1em; color:#333;}
ul.radiolist label { float:none; display:inline; }

.login .form-row { padding:4px 0; float:left; width:100%; }
.login .form-row label { float:left; width:9em; padding-right:0.5em; text-align:right; font-size:1em; color:#333; }
.login .form-row #id_username, .login .form-row #id_password { width:14em; }
.login span.help { font-size:10px; display:block; }
.login .submit-row { clear:both; padding:1em 0 0 9.4em; }

.errornote {
  background: #ffa4b8;
  border: 1px solid #830923;
  color: #000000;
}

.errormsg {
  color: #EE0000;
  font-weight: bold;
}

.wikimenu {
  background-color: #F9F9F9; 
  border-bottom: 1px dotted #A0A0A0; 
  border-right: 1px dotted #A0A0A0;
  padding: 4px 0px 4px 10px; 
  color: #777;
}

input.embclose {
  width: 100px;
}

/* wiki diff */

table.diff {font-family:Courier; border:0 px;}
table.difflegend { border: 0; }
.diff_header {}
td.diff_header {text-align:right}
.diff_next {background-color:#c0c0c0}
.diff_add {background-color:#aaffaa}
.diff_chg {background-color:#ffff77}
.diff_sub {background-color:#ffaaaa}

/* Clendar */
#calendar-container {
position: absolute;
right: 15em;
top: 2em;
width: 2em;
}

/* added JK */
#header {
	background-position: -50px 0px;
	height: 102px;
	cursor: pointer;
	background-image: url("/static-media/img/header-back.png");
	background-repeat: no-repeat;
}

/* LINK ICONS (Angleichung an FreifunkWiki)
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/

#content a[href ^="http://"], #bodyContent a[href ^="gopher://"] {
    background: url("/static-media/img/external.png") center right no-repeat;
    padding-right: 13px;
}

#content a[href ^="https://"], .link-https {
    background: url("/static-media/img/lock_icon.gif") center right no-repeat;
    padding-right: 16px;
}

#content a[href ^="mailto:"], .link-mailto {
    background: url("/static-media/img/mail_icon.gif") center right no-repeat;
    padding-right: 18px;
}

#content a[href ^="news://"] {
    background: url("/static-media/img/news_icon.png") center right no-repeat;
    padding-right: 18px;
}

#content a[href ^="ftp://"], .link-ftp {
    background: url("/static-media/img/file_icon.gif") center right no-repeat;
    padding-right: 18px;
}

#content a[href ^="irc://"], .link-irc {
    background: url("/static-media/img/discussionitem_icon.gif")  center right no-repeat;
    padding-right: 18px;
}


