development:
  settings:
    name: Freifunk Node Database
    domain: localhost:3000
    session_key: _freifunk_nodes
    secret: 1138371c71fe2f4f6769090e9fa0d7314b4febcc1c1966f9c83e16a3c880e0ca396cbb37e9ce53bbefc2417cb7363d7127200d51f16b9aeda033dbc3600c63fc
    admin_email: info@freifunk-hannover.de
    timezone: Berlin
  mail:
    method: smtp
    address: localhost
    port: 25
    domain: yourdomain.com
    authentication: login
    user_name: account@yourdomain.com
    password: emailpassword
    sender: noreply@yourdomain.com
  geokit:
    default_units: kms
    google_key: GYDDGdwiqCoxTtIs0fc7NfWJ5K-3NpfQ2tTAszQOsjKAJsJDXQAJASmpv7EQpwP4vl28MFRQk2AA5L8rJB2fsQ
    yahoo_key: Pq2pwIdOP3V3VKNDd.CHiXK1dF3LoUsFXe4FAYXCjvgP9weyDQq_ezi7FjMnAJwlwMqeixRCsxYt
  map:
    lon: 9.738435
    lat: 52.374394
    zoom: 13
