<h1>All Users</h1>
<table>
    <thead>
        <tr>
            <th>
                Login
            </th>
            <th>
                Email
            </th>
            <th>
                Active?
            </th>
            <th>
                Enabled?
            </th>
            <th>
                Roles
            </th>
        </tr>
    </thead>
    <tbody>
        <%= render :partial => 'user', :collection => @users %>
    </tbody>
</table>
<div id="toolbar">
</div>

