<h1>Reset your password</h1>
<% form_for "password", :url => user_password_url(params[:id]),
       :html => { :method => :put } do |f| -%>
		<%= hidden_field_tag :reset_code, params[:id] %>
<fieldset>
	<legend>New Password</legend>
    
	<label for="password">Password:<label>
    <%= password_field_tag :password %><br />
	

    <label for="password_confirmation">Confirm Password:</label>
    <%= password_field_tag :password_confirmation %><br />
</fieldset>
<br />
<%= f.submit "Reset Your Password" %>
<% end -%>
<div id="toolbar"></div>

