<h1>Admin Control Panel</h1>
<p>With great power comes great responsibility.</p>
<ul>
    <li>
        <%= link_to "Administer Users (#{@users})", admin_users_path %>
    </li>
</ul>
<div id="toolbar">
</div>
